cache/*.cache
ignore/
.env*
__pycache__/
*.py[cod]
*.so
.Python
env/
.env/
.env
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
*.log
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.mo
*.pot
*.idea
*.pydev
*.project
.DS_Store
settings_override.py
_reports
docs/services/
docs/services.rst
node_modules/
.deps/
*.pickle
pickles
